
#LoginWidget {
    background-color: white;
    border-radius: 12px;
}

QPushButton#btnWinClose {

/*    background-color: #ff5f57;   */
    border: none;
    background-color: transparent;
    background-image: url(":/resource/icon/close/default.svg");
    background-repeat: no-repeat;
    background-position: center;
    /* 圆角半径 */
    border-radius: 6px;
}

/* 鼠标悬停状态 */
QPushButton#btnWinClose:hover {
    border: none;
    background-color: transparent;
    background-image: url(":/resource/icon/close/icons8-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    background-color: #ff3b30;
}

QPushButton#btnWinMin {
    border: none;
    background-color: transparent;
    background-image: url(":/resource/icon/minimize/default.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
}

QPushButton#btnWinMin:hover {
    border: none;
    background-color: transparent;
    background-image: url(":/resource/icon/minimize/minimize.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    background-color: #ffbd2e;
}

QPushButton#btnWinMax {
    border: none;
    background-color: transparent;
    background-image: url(":/resource/icon/unfocused.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
}

QLabel#labelUserHeadIcon {
    border-radius: 60px;
    border: 2px solid #e5e5e5;
    /* 图片超出部分裁剪 */
    overflow: hidden;
}

QLineEdit {
    /* 外边框 */
    border: 1px solid #dcdfe6;
    border-radius: 6px;
    padding: 8px;
    font-size: 14px;
}

QLineEdit:focus {
    border: 1px solid #12b7f5;
}

QPushButton#btnLogin, QPushButton#btnReg{
    background-color: #12b7f5;
    color: white;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

QPushButton#btnLogin:hover, QPushButton#btnReg:hover {
    background-color: #0e99d0;
}

QCheckBox {
    font-size: 13px;
    color: #666;
}

ClickLabel {
    color: #12B7F5;
    font-size: 14px;
}

QWidget#centralWidget {
    background: #f4f4f4;
    border: 1px solid #ddd;
}
QWidget#menuWidget {
    background: #333;
}
#line {
    border: none;
    background: #ccc;
}

QPushButton#btnMWinClose {
    border: none;
    background-color: transparent;
    background-image: url(":/resource/icon/close/default.svg");
    background-repeat: no-repeat;
    background-position: center;
    /* 圆角半径 */
    border-radius: 6px;
}

/* 鼠标悬停状态 */
QPushButton#btnMWinClose:hover {
    border: none;
    background-color: transparent;
    background-image: url(":/resource/icon/close/icons8-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    background-color: #ff3b30;
}

QPushButton#btnMWinMin {
    border: none;
    background-color: transparent;
    background-image: url(":/resource/icon/minimize/default.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
}

QPushButton#btnMWinMin:hover {
    border: none;
    background-color: transparent;
    background-image: url(":/resource/icon/minimize/minimize.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    background-color: #ffbd2e;
}

QPushButton#btnMWinMax {
    border: none;
    background-color: transparent;
    background-image: url(":/resource/icon/maximize/default.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    background-color: #30D15B;
}

QPushButton#btnMWinMax:hover {
    border: none;
    background-color: transparent;
    background-image: url(":/resource/icon/maximize/actice.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    background-color: #0E984A;
}

QPushButton#btnHead,QPushButton#btnAllChat, QPushButton#btnContact, QPushButton#btnMore {
    border: none;
}

QWidget#ChatListWidget {
    border: none;
    background: #e3e3e3;
}

QWidget#searchWidget {
    background: #ddd;
    border-radius: 5px;
}

QPushButton#btnPlus,
QPushButton#btnSearch {
    border: 0px;
    background: #ddd;
    border-radius: 5px;
}
QPushButton#btnSearch {
    padding: 3px;
}

QLineEdit#leditSearch {
    border: 0px;
    background: #ddd;
    border-radius: 5px 5px 0 0;
}